@page "/mqtt"

@using Energi.Service.MQTTService

@inject IMqttService mqttService

<h3>MqttTest</h3>

<p>
    Controlle device.
    <button class="btn btn-primary btn-sm" @onclick="TurnOn">On</button>
    <button class="btn btn-primary btn-sm" @onclick="TurnOff">Off</button>
</p>



@code {
    //  This is only for the POC applications!!!
    private async void TurnOn()
    {

        mqttService.Publish("#1111#");
    }

    private async void TurnOff()
    {

        mqttService.Publish("#0000#");
    }
}
