@page "/Success"

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Fraværsregisteringen blev oprettet!</h4>
    <p>Fraværsregisteringen blev oprettet succesfuldt uden nogle fejl!</p>
</div>

@code {

}
