@page "/worker/management/menu"

<div class="col-12 text-center mb-2">
    <h1>Menu Management</h1>
</div>


<div class="col-12">

    <h3>Kantinens Retter</h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Ret</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>
                    <div class="row d-flex">
                        <div class="col-3 d-flex align-items-center">
                            <h5>Tomatsuppe</h5>
                        </div>

                        <div class="col-3 d-flex align-items-center">
                            <h5>200 Gram</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6 justify-content-end">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-trash"></i>
                                    </button>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-edit"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>


            <tr>
                <th>
                    <div class="row d-flex">
                        <div class="col-3 d-flex align-items-center">
                            <h5>Tomatsuppe</h5>
                        </div>

                        <div class="col-3 d-flex align-items-center">
                            <h5>200 Gram</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6 justify-content-end">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-trash"></i>
                                    </button>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-edit"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>



<div class="col-12">

    <h3>Kantinens Ingreienser</h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Ingridiens</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>
                    <div class="row d-flex">
                        <div class="col-3 d-flex align-items-center">
                            <h5>Tomatsuppe</h5>
                        </div>

                        <div class="col-3 d-flex align-items-center">
                            <h5>200 Gram</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6 justify-content-end">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-trash"></i>
                                    </button>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-edit"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>


            <tr>
                <th>
                    <div class="row d-flex">
                        <div class="col-3 d-flex align-items-center">
                            <h5>Tomatsuppe</h5>
                        </div>

                        <div class="col-3 d-flex align-items-center">
                            <h5>200 Gram</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6 justify-content-end">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-trash"></i>
                                    </button>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-edit"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>


<div class="col-12">

    <h3>Allergier</h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Allergi</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>
                    <div class="row d-flex">
                        <div class="col-3 d-flex align-items-center">
                            <h5>Tomatsuppe</h5>
                        </div>

                        <div class="col-3 d-flex align-items-center">
                            <h5>200 Gram</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6 justify-content-end">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-trash"></i>
                                    </button>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-edit"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>


            <tr>
                <th>
                    <div class="row d-flex">
                        <div class="col-3 d-flex align-items-center">
                            <h5>Tomatsuppe</h5>
                        </div>

                        <div class="col-3 d-flex align-items-center">
                            <h5>200 Gram</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6 justify-content-end">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-trash"></i>
                                    </button>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-primary btn-rounded btn-normal-text">
                                        <i class="las la-edit"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>