@page "/devicelist"
@using Energi.Service.DeviceService
@using Energi.Service.DeviceService.DTO

@inject IDeviceService deviceService

<h3>Device list</h3>

<h2>Device count: @count</h2>

@code {
    int count = 0;
    private List<SlimDeviceDTO> deviceList;

    protected override async Task OnInitializedAsync()
    {
        deviceList = await deviceService.GetAllDevicesSlimAsync();

        if (deviceList == null)
        {
            deviceList = new List<SlimDeviceDTO>();
        }

        count = deviceList.Count();
    }
}
