@page "/dishinfo/{dishid?}"
@model Canteen.Web.Pages.Student.DishInfoModel


<div class="dish-info-screen">
    <div class="container">
        <div class="dish-info-panel">
            <div class="row">
                <div class="col-12 text-center">
                    DAGENS RET
                </div>

                <div class="container">
                    <div class="row ml-0 mr-0 p-5">
                        <div class="col-6">
                            <h4>Tomater</h4>
                        </div>

                        <div class="col-6">
                            <h4>Tomater</h4>
                        </div>

                        <div class="col-6">
                            <h4>Tomater</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>