@page "/dishinfo/{dishid?}"
@model Canteen.Web.Pages.Student.DishInfoModel


<div class="dish-info-screen">
    <div class="container">
        <div class="dish-info-panel">
            <div class="row">
                <div class="col-12 text-center">
                    @Model.Dish.DishName
                </div>

                <div class="container">
					<div class="row ml-0 mr-0 p-5">
						@if (Model.Ingredients != null)
						{
							@foreach (var ingredients in Model.Ingredients)
							{
								<div class="col-6">
									<h4>@ingredients.IngridientName</h4>
								</div>
							}
						}
					</div>
                </div>
            </div>
        </div>
    </div>
</div>