@page "/counter"
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigation
@attribute [Authorize]

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}


	protected override async Task OnInitializedAsync()
	{
		try
		{
			var authState = await authStateProvider.GetAuthenticationStateAsync();
			var user = authState.User;

			if (!user.IsInRole("Admin"))
			{
				navigation.NavigateTo("/");
			}
		}
		catch (Exception)
		{
			navigation.NavigateTo("/");
		}
	}
}
