@page "/"

@using Canteen.Service.AllergyService
@using Canteen.Service.AllergyService.Dto

@using Canteen.Service.DishService
@using Canteen.Service.DishService.Dto

@inject IDishService dishService
@inject IAllergyService allergyService

@code {

    public List<FullAllergyDTO> Allergies { get; set; }
    public List<FullDishDTO> TodaysDishes { get; set; }

    public FullDishDTO selectedDish { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TodaysDishes = dishService.GetDishesOfTheDay();
    }

    public void LoadInfoModal(int dishId)
    {
        selectedDish = TodaysDishes.Where(obj => obj.DishId == dishId).FirstOrDefault();

        selectedDish.Ingridients.Add(new Service.IngridentsService.Dto.FullIngridientDTO
        {
            IngridientName = "Test",
            IngridientId = 1
        });

        StateHasChanged();
    }

}


@* Start of automatic title row *@
<div class="col-12">
    <h1>Dagens Retter</h1>
</div>
@* End of automatic title row *@

<div class="container">
    <div class="row">
        @foreach (FullDishDTO dish in TodaysDishes)
        {
            <div class="col-6">
                <div class="canteenMenuItem allergic">
                    <span class="canteenMenuItemInfoIcon" @onclick="@(() => LoadInfoModal(dish.DishId))" data-toggle="modal" data-target="#exampleModal"><i class="las la-info-circle"></i></span>
                    <div class="canteenMenuItemContent">
                        <h1>@dish.DishName</h1>
                        <h5>@dish.DishCo2 mg</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="col-12 text-center mt-5">
    <h1>DINE ALLERGIER</h1>
</div>

<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ALLGERGI NAVN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div class="row d-flex">
                        <div class="col-6 d-flex align-items-center">
                            <h5>Gluten allergi</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-primary btn-rounded btn-normal-text">
                                <i class="las la-trash"></i>
                            </button>
                        </div>
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h5>Gluten allergi</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-primary btn-rounded btn-normal-text">
                                <i class="las la-trash"></i>
                            </button>
                        </div>
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h5>Gluten allergi</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-primary btn-rounded btn-normal-text">
                                <i class="las la-trash"></i>
                            </button>
                        </div>
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h5>Gluten allergi</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-primary btn-rounded btn-normal-text">
                                <i class="las la-trash"></i>
                            </button>
                        </div>
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h5>Gluten allergi</h5>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-primary btn-rounded btn-normal-text">
                                <i class="las la-trash"></i>
                            </button>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-12 text-left">
            <button class="btn btn-dark">
                Tilføj Allergi
            </button>
        </div>
    </div>
</div>


<AutomaticObjectInfoModal ModalName="exampleModal" ModalData="@selectedDish" ModalTitle="Ret information"></AutomaticObjectInfoModal>