@page "/"

@* AUTOMATIC TITLE ROW *@
<div class="col-12">
    <h1>Page Title</h1>
</div>
@* END OF AUTOMATIC TITLE ROW *@

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="canteenMenuItem allergic">
                <span class="canteenMenuItemInfoIcon"><i class="las la-info-circle"></i></span>
                <div class="canteenMenuItemContent">
                    <h1>Menu Title</h1>
                    <h5>Menu Description</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="canteenMenuItem notAllergic">
                <span class="canteenMenuItemInfoIcon"><i class="las la-info-circle"></i></span>
                <div class="canteenMenuItemContent">
                    <h1>Menu Title</h1>
                    <h5>Menu Description</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="canteenMenuItem notAllergic">
                <span class="canteenMenuItemInfoIcon"><i class="las la-info-circle"></i></span>
                <div class="canteenMenuItemContent">
                    <h1>Menu Title</h1>
                    <h5>Menu Description</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="canteenMenuItem notAllergic">
                <span class="canteenMenuItemInfoIcon"><i class="las la-info-circle"></i></span>
                <div class="canteenMenuItemContent">
                    <h1>Menu Title</h1>
                    <h5>Menu Description</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="canteenMenuItem notAllergic">
                <span class="canteenMenuItemInfoIcon"><i class="las la-info-circle"></i></span>
                <div class="canteenMenuItemContent">
                    <h1>Menu Title</h1>
                    <h5>Menu Description</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="canteenMenuItem allergic">
                <span class="canteenMenuItemInfoIcon"><i class="las la-info-circle"></i></span>
                <div class="canteenMenuItemContent">
                    <h1>Menu Title</h1>
                    <h5>Menu Description</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-12 text-center">
    <h1>DINE ALLERGIER</h1>
</div>

<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Navn</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div class="row">
                        <div class="col-6">
                            <p>Gluten allergi</p>
                        </div>

                        <div class="col-6 text-right">
                            <p>DELETE</p>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="row">2</th>
            </tr>
            <tr>
                <th scope="row">3</th>
            </tr>
        </tbody>
    </table>
</div>