@using Microsoft.AspNetCore.Components.Authorization
﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using DataAccess.Identity

@inject IUserService _userService
@inject NavigationManager Navigation
@*@inject TokenProvider TokenProvider*@

<AuthorizeView>
	<Authorized>
		<a href="Identity/Account/Manage/Index">
			Hello, @IdentityUser?.Email!
		</a>
		<form method="post" action="Identity/Account/LogOut">
			<button type="submit" class="nav-link btn btn-link">Log out</button>
		</form>
	</Authorized>
	<NotAuthorized>
		<a href="Identity/Account/Register">Register</a>
		<a href="Identity/Account/Login">Login</a>
	</NotAuthorized>
</AuthorizeView>

@code {
	public SimpleApplicationUserDTO IdentityUser { get; set; } = new SimpleApplicationUserDTO { };

	private string returnUrl;

	public string ReturnUrl
	{
		get
		{
			return "~/" + Navigation.ToBaseRelativePath(Navigation.Uri);
		}
		set
		{
			returnUrl = value;
		}
	}

	private void UpdateUrl()
	{
		ReturnUrl = "~/" + Navigation.ToBaseRelativePath(Navigation.Uri);
		StateHasChanged();
	}

	protected override async Task OnInitializedAsync()
	{
		IdentityUser = await _userService.GetUserAsync();
	}


}