@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">{PROFILE NAME}</a>
        </div>

        <div class="content px-4">
            <div class="container">
                <div class="row page-row">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
